<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styles.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/assets/todo-list.js"></script>

</head>

<body>
    <div id="todo-table">

        <h1>To-do list today</h1>

        <form action="/todo" method="post">
            
            <input type="text" id="todo" name="item" placeholder="Add new item...">
            <button type="submit" id="btn">Add Item</button>
        </form>
        <ul>
            <% todo.forEach(item => { %>
            <li><%= item.item %> </li>
            <% }) %>
        </ul>
    </div>

</body>

</html>